<%= @game.player1.name %> vs. <%= @game.player2.name %>

<%= @game.current_opponent.name %>: <%= @game.current_opponent.hit_points %> HP

<%= @game.current_player.name %>'s turn

<form action="/attack" method="post">
  <input type="submit" value="Attack">
</form>